/* volunteer-picture style  */
.volunteer-picture img{
    width: 200px;
    height: 200px;
    padding: 8px;
    border-radius: 50%;
}

 /* card-design style  */
.card-design{
    background-color: rgb(243, 236, 229);
    
}


/* button style */
.button-style:hover{

    background-color: tomato;  
    border: none;
}